/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  color: black;
}
.home-icon{
  color: black;
}
.navbar-brand a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.navbar-search {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 5px;
  
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.search-icon {
  color:rgb(0, 0, 0);
  font-size: 20px;
}

.navbar-links {
  display: flex;
  align-items: center;
}

/* Dropdown styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 4px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #0056b3;
}
